* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Sans, sans-serif;
}

.layout {
    display: flex;
    height: 100vh;
}

aside {
    width: 220px;
    background-color: #F4F5F7;
    border-right: 1px solid #c5dfe1;
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 24px;
    flex-shrink: 0;
}

.menu-titulo {
    display: flex;
    align-items: center;
    gap: 6px;
    text-align: left;
    padding: 0 8px;
}

.menu-titulo h1 {
    font-size: 2rem;
    color: #063A5D;
}

aside img {
    width: 28px;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-btn button {
    text-align: left;
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    background-color: #A8DBDE;
    color: #063A5D;
    border: none;
    transition: 0.2s;
}

.menu-btn button:hover {
    background-color: #063A5D;
    color: #F4F5F7;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 28px;
    background-color: #063A5D;
    border-bottom: 3px solid #A8DBDE;
}

header span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #F4F5F7;
}

header div {
    display: flex;
    gap: 10px;
}

header button {
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #A8DBDE;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #063A5D;
    width: 8rem;
    background-color: #F4F5F7;
    transition: 0.2s;
}

header button:hover {
    background-color: #e0eeef;
}

.btn-nova-tarefa {
    background-color: #A8DBDE;
    color: #063A5D;
    border: none;
}

.btn-nova-tarefa:hover {
    background-color: #8ecdd1 !important;
}

.texto-principal {
  padding: 28px;
}

.texto-principal h1 {
  font-size: 1.8rem;
  color: #063A5D;
}

.texto-principal p {
  color: #7a9ab0;
  margin-top: 4px;
}

.container-cards {
  display: flex;
  gap: 16px;
  padding: 0 28px;
}

.card {
  background-color: #063A5D;
  border-radius: 14px;
  padding: 20px;
  min-width: 140px;
}

.card span {
  font-size: 28px;
  font-weight: bold;
  color: #F4F5F7;
  display: block;
}

.card p {
  color: #e0eeef;
  font-size: 13px;
  font-weight: 450;
  margin-top: 6px;
}
