<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unitask | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="assets/icons/logo.svg">
    <title>Unitask</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
  <div class="layout">

    <aside id="menu-lateral">
      <div class="menu-titulo">
        <img src="assets/icons/logo.png" alt="Unitask Logo">
        <h1>Unitask</h1>
      </div>
      <div class="menu-btn">
        <button class="btn-hoje">Hoje</button>
        <button class="btn-tarefas">Tarefas</button>
        <button class="btn-calendario">Calendário</button>
        <button class="btn-dashboard">Dashboard</button>
        <button class="btn-perfil">Perfil</button>
      </div>
    </aside>

    <main>
      <header>
        <span>Hoje</span>
        <div>
          <button id="btnNovaTarefa" class="btn-nova-tarefa">Nova Tarefa</button>
          <button id="btnSair">Sair</button>
        </div>
      </header>

      <div class="texto-principal">
        <h1>Olá, <span id="nomeUsuario">Usuário</span></h1>
        <p id="homeData">data de hoje</p>
      </div>

      <div class="container-cards">
        <div class="card">
          <span id="qtdTarefas">0</span>
          <p>Tarefas</p>
        </div>
        <div class="card">
          <span id="qtdConcluidas">0</span>
          <p>Concluídas</p>
        </div>
        <div class="card">
          <span id="qtdPendentes">0</span>
          <p>Pendentes</p>
        </div>
      </div>
    </main>

  </div>
  <script src="js/script.js"></script>
  <script src="js/home.js"></script>
</body>
</html>