<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unistas - Perfil</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="container">
        <section class="card-perfil">
            <h1>Perfil do usuário</h1>

            <div class="info-usuario">
                <p><strong>Nome:</strong><span id="nome-perfil">Rakel</span></p>
                <p><strong>Email:</strong>rakel@email.com</p>
                <p><strong>Curso</strong>Sistemas para Internet</p>
            
            </div>
            <a href="index.html">Voltar para login</a>
        </section>
    </main>
    
</body>
</html>