<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniTask</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="../assets/icons/logo.svg">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/tarefas.css">
</head>
<body>
    <header>
        <h1>Unitask</h1>
        <p>Organize suas atividades acadêmicas</p>
    </header>

    <main>
        <section>
            <h2>Tarefa</h2>
            <form id="form-tarefa">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" placeholder="Projetos | Estudos">
                
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" placeholder="Lista de exercícios"></textarea>

                <label for="prazo">Prazo</label>
                <input type="date" id="prazo">

                <label for="prioridade">Prioridade</label>
                <select id="prioridade">
                    <option value="">Selecione</option>
                    <option value="baixa">Baixa</option>
                    <option value="media">Média</option>
                    <option value="alta">Alta</option>
                </select>

                <label for="status">Status</label>
                <select id="status">
                    <option value="afazer">A fazer</option>
                    <option value="andamento">Em andamento</option>
                    <option value="feito">Feito</option>
                </select>
                
                <button type="submit">Adicionar tarefa</button>
            </form>
        </section>

        <section>
            <h2>Minhas Tarefas</h2>
            <ul id="lista-tarefas">
                
            </ul>
        </section>
    </main>
    
    <script src="../js/script.js"></script>
    <script src="../js/tarefas.js"></script>
</body>
</html>